* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 2.4rem;
    background-image: url('../Assets/background-main.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rede_social {
    position: absolute;
    left: 0;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
    padding: 1rem 0.6rem;
    background-color: rgb(22, 15, 29);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rede_social a {
    text-decoration: none;
    color: aliceblue;
}

.container_calculator {
    min-width: 350px;
    border: 0.1rem solid black;
}

.content_display {
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.content_display input {
    text-align: right;
    border: none;
    background-color: transparent;
    width: 150px;
}

.display_results {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.display_history {
    font-size: 1.8rem;
}

.history {
    display: flex;
    flex-direction: column;
}

.icon_history {
    font-size: 1.4rem;
    color: gray;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 2rem;
}

.operator {
    position: relative;
    top: 0;
}

.calculator_body {
    width: 100%;
    height: 300px;
    text-align: center;
    border-collapse: collapse;
}

.calculator_body button {
    width: 100px;
    height: 80px;
    font-size: 2.2rem;
    border: none;
}

.number {
    background-color: rgb(199, 199, 199);
    transition: 0.4s ease-in-out;
}

.number:hover {
    background-color: rgb(219, 217, 217);
}

.clear button {
    width: 100%;
    background-color: rgb(147, 73, 182);
    color: whitesmoke;
    cursor: pointer;
}

.del button {
    background-color: rgb(255, 55, 55);
    color: whitesmoke;
    cursor: pointer;
}

.resolve button {
    width: 100%;
    background-color: rgb(147, 73, 182);
    color: whitesmoke;
    cursor: pointer;
}

.response {
    font-size: 1.5rem;
    color: rgb(117, 117, 117);
}


.display_results .display {
    border-radius: 10px;
    font-size: 2.5rem;
}

.arithmetic_operators {
    background-color: rgb(29, 28, 29);
    color: whitesmoke;
    cursor: pointer;
}